/* Gradient Top Bar */
.top-bar {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  background: linear-gradient(90deg, #1e90ff, #9370db);
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.top-bar span {
  font-weight: bold;
  color: white;
}

header {
  width: 90%;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0b0f19; /* Dark Background */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  top: 0;
  left: 0;
  z-index: 999;
}

.header-content h1 {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(90deg, #ffffff, #9497a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 40px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.8px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: white;
}

.toggle-switch {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-switch:hover {
  background: rgba(255, 255, 255, 0.2);
}

.start-project {
  padding: 8px 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-project:hover {
  background: white;
  color: black;
}
