:root {
  --primary: #1a1b25;
  --secondary: #ffffff;
  --gradient: linear-gradient(90deg, #3f87a6, #ebf8e1, #f69d3c);
}

body {
  margin: 0;
  background: var(--primary);
  font-family: 'Poppins', sans-serif;
  color: var(--secondary);
}
